{%load mytag%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>映像</title>
    <link rel="stylesheet" href="{% static 'js/image.css' %}">
</head>
<body>
    <div>
        {% include 'index.html' %}
    </div>
    <div class="dh-ver1">
        <h1 class="image_h1">映像</h1>
    </div>   
    <div class="banner2">
        <form action="" method="POST">
            <input type="hidden" name="token" value=""/>
            <table id="images" class="">
                <caption>

                    <div class="image-top">
                        <select name="images_field" class="image-name">
                            <option value="name">映像名称=</option>
                            <option value="status">状态=</option>
                            <option value="disk_format">格式=</option>
                            <option value="size_min">最小大小（MB）=</option>
                            <option value="size_max">最大大小（MB）=</option>
                        </select>
                        <input class="image-field" value="" type="text" name="image_field_q"/>
                        <button type="submit" class="image-field_action" id="image_action">过滤</button>
                    </div>
                    <a class="image-create" href="" title="创建映像">创建映像</a>
                    <button data-batch-action="true" class="image-delete" name="action" help_text="已删除的一些不可恢复" type="submit" value="images_delete">删除映像</button>
                    
                </caption>
                <thead>
                    <tr class="tr2">
                        <th class="dh-vertical" data-selenium="multi_select">
                            <input type="checkbox" name="obj_id"/>
                        </th>
                        <th class="pro_tenant" data-selenium="tenant">
                            项目
                        </th>
                        <th class="pro_name" data-selenium="name">
                            映像名称
                        </th>
                        <th class="pro_type" data-selenium="image_type">
                            类型
                        </th>
                        <th class="pro_status" data-selenium="status">
                            状态
                        </th>
                        <th class="pro_public" data-selenium="public">
                            公有
                        </th>
                        <th class="pro_protected" data-selenium="protected">
                            受保护的
                        </th>
                        <th class="pro_disk" data-selenium="disk_format">
                            格式
                        </th>
                        <th class="pro_size" data-selenium="size" data-type="size">
                            大小
                        </th>   
                        <th class="pro_action" data-selenium="action">
                            Action
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    {% for one in list %}
                    <tr class="tr1">
                        <td class="dh-vertical">
                            <input type="checkbox" name="obj_id"/>
                        </td>
                        <td class="pro_tenant">
                            {{plist|get_item:one.owner}}
                        </td>
                        <td class="pro_name">
                            {{one.name}}
                        </td>
                        <td class="pro_type">
                            镜像
                        </td>
                        <td class="pro_status">
                            {{one.status}} 
                        </td>
                        <td class="pro_public">
                            {{one.visibility}} 
                        </td>
                        <td class="pro_protected">
                            {{one.protected}}
                        </td>
                        <td class="pro_disk1">
                            {{one.disk_format}} 
                        </td>
                        <td class="pro_size1">
                            {{one.size}}
                        </td>
                        {% endfor %}
                        <td class="pro_action1">
                            <select>
                                <option value="1">编辑映像</option>
                                <option value="2">更新元数据</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>           
        </form>
    </div>
                           
</body>
</html>