{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>映像</title>
    <link rel="stylesheet" href="{% static 'js/index.css' %}">
</head>
<body>
    <div class="top-nav">
        <ul class="ul1">
            <li></li>
            <li class="nav_li">欢迎您:{{request.session.username}}</li>
            <li class="nav_li2"><a href="loginout">退出</a></li>
        </ul>
    </div>
    <div class="banner">
        <ul class="nav_ul2">
            <li class="li_div">  
                <a href="index.html">
                    管理员
                </a>
                <ul class="nav_ul2">
                    <li class="li_div5">
                        <a href="">
                            系统
                        </a>
                        <ul class="nav_ul2">
                            <li class="li_div1">
                                <a href="instance1.html">
                                    实例
                                </a>
                            </li>
                            <li class="li_div2">
                                <a href="">
                                    卷
                                </a>
                            </li>
                            <li class="li_div3">
                                <a href="image.html">
                                    映像
                                </a>
                            </li>
                            <li class="li_div4">
                                <a href="network.html">
                                    网络
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
                           
</body>
</html>