{% load mytag %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实例</title>
    <link rel="stylesheet" href="{% static 'js/instances.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jq/jquery-3.3.1.min.js' %}">
    </script>
    <script>
        function openLogin(){
        document.getElementById("win").style.display="";
        document.getElementById("back").style.display="";
        }
        function closeLogin(){
        document.getElementById("win").style.display="none";
        document.getElementById("back").style.display="none";
        }
    </script>
    <script type="text/javascript">
        $(function(){
            $("#tab1,#tab2,#tab3,#tab4,#tab5,#tab6,#tab7,#tab8,#tab9").click(function() {
                //获取标签页代号
                var num = $.trim($(this).attr("data-season"));
                //删除兄弟元素的 active 类样式
                $("#tab"+num).siblings().removeClass("active");
                $("#tab"+num).addClass("active");
                $("#content_"+num).siblings().removeClass("show");
                $("#content_"+num).addClass("show");
            });
        })
        var img
        function create_img(){
            img = 'img'
            document.getElementById('img').innerHTML='您已选中名称为 cirros 的源'
            return img
        }
        var net
        function create_net(){
            net = 'net'
            document.getElementById('net').innerHTML='您已选中名称为 provider 的网络'
            return net
        }
        var flavor
        function checkflavors1(){
            flavor='flavor1'
            document.getElementById('flavors').innerHTML='您已选中名称为 m1.tiny 的flavors' 
            return flavor
        }
        function checkflavors2(){
            flavor='flavor2'
            document.getElementById('flavors').innerHTML='您已选中名称为 m1.small 的flavors'  
            return flavor
        }
        function checkflavors3(){
            flavor='flavor3'
            document.getElementById('flavors').innerHTML='您已选中名称为 m1.medium 的flavors'  
            return flavor
        }
        function checkflavors4(){
            flavor='flavor4'
            document.getElementById('flavors').innerHTML='您已选中名称为 m1.large 的flavors'  
            return flavor
        }
        function checkflavors5(){
            flavor='flavor5'
            document.getElementById('flavors').innerHTML='您已选中名称为 m1.xlarge的flavors' 
            return flavor 
        }
        function create_ins(){
            window.location.href='create_ins?username='+$("input#ins_name").val()+'&flavor='+flavor
        }
    </script>
    
</head>
<body>

    <div id="back" style="display:none; position:absolute; left:0; top:0; width:100%; height:100%; background-color: #CCC; opacity:0.5; z-index:11;"></div>

    <div id="win" style="display:none; position:absolute; left:50%; top:50%; width:900px; height:700px; margin-left:-400px; margin-top:-300px; border:1px solid #888; background-color: #FFF; z-index:12;">
        <div id="lib_wwwzzjsnet" class="lib_zzjsnet">
            <div class="tab_head">
                <ul class="ul2">
                    <li id="tab1" data-season="1" class="active li">详细信息</li>
                    <li id="tab2" data-season="2" class="li">源</li>
                    <li id="tab3" data-season="3" class="li">flavor</li>
                    <li id="tab4" data-season="4" class="li">网络</li>
                    <li id="tab5" data-season="5" class="li">网络端口</li>
                    <li id="tab6" data-season="6" class="li">安全组</li>
                    <li id="tab7" data-season="7" class="li">密钥对</li>
                    <li id="tab8" data-season="8" class="li">配置</li>
                    <li id="tab9" data-season="9" class="li">元数据</li>
                </ul>
            </div>
            <form action="#" method="POST">
                {% csrf_token %}
                <div class="tab_content">
                    <div id="content_1" class="init show">
                        请提供实例的初始主机名，将要部署的可用域和实例计数。 增加计数以创建具有多个同样设置的实例。<br/>
                        <br/>
                        Instance Name <br/>
                        <input type="text" name="ins_name"/><br/>
                        可用区域<br/>
                        <select class="">
                            <option id="1" value="1" ></option>
                            <option id="2">nova</option>
                        </select><br/>
                        Court<br/>
                        <input type="text" value="1"></input>       
                    </div>    
            
                    <div id="content_2" class="init">
                        选择引导源 &nbsp;&nbsp;&nbsp;创建新卷<br/>
                        <select class="">
                            <option id="1" value="1">映像</option>
                            <option id="2">实例快照</option>
                            <option id="3">卷</option>
                            <option id="4">卷快照</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="是"></input>
                        <input type="button" value="否"></input><br/>
                        <br/>
                        <table class="table-striped table-bordered">
                            <tr bgcolor="#CCCCCC">
                                <th>名称</th>
                                <th>已更新</th>
                                <th>大小</th>
                                <th>类型</th>
                                <th>可见</th>
                            </tr>
                            <tr>
                                <td colspan="5" align="center" id="img">从以下列表选择一个源</td>
                            </tr>
                        </table><br/>

                        <table class="table-striped table-bordered">
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>名称</th>
                                    <th>已更新</th>
                                    <th>大小</th>
                                    <th>类型</th>
                                    <th>可见</th>
                                </tr>
                                {%for img in image1%}
                                <tr>
                                    <td><input type="radio"onclick="create_img"/></td>
                                    <td>{{img.name}}</td>
                                    <td>{{img.updated_at|time_tran}}</td>
                                    <td>{{img.size|size_tran}}</td>
                                    <td>{{img.disk_format}}</td>
                                    <td>{{img.visibility}}</td>
                                </tr>
                                {%endfor%}
                        </table>
                    </div>
                        
                    <div id="content_3" class="init">
                        flavor 管理实例的计算、内存和存储容量的大小。<br/>
                        <br/>
                        <table class="table-striped table-bordered">
                            <tr >
                                <th>名称</th>
                                <th>VCPU数</th>
                                <th>RAM</th>
                                <th>磁盘总计</th>
                                <th>根磁盘</th>
                                <th>临时磁盘</th>
                                <th>公有</th>
                            </tr>
                            <tr>
                                <td colspan="7" align="center" id="flavors">从以下中可选择一项</td>
                            </tr>
                        </table>
                        <br/>
                        <table class="table-striped table-bordered">
                            <tr >
                                <th>名称</th>
                                <th>VCPU数</th>
                                <th>RAM</th>
                                <th>磁盘总计</th>
                                <th>根磁盘</th>
                                <th>临时磁盘</th>
                                <th>公有</th>
                            </tr>
                            {%for f in flavors1%}
                            <tr>
                                <td>{{forloop.counter}} {{ f.name }}</td>
                                <td>{{ f.vcpus }}</td>
                                <td>{{ f.ram }}MB</td>
                                <td>{{ f.disk }}GB</td>
                                <td>{{ f.disk }}GB</td>
                                <td>{{ ephemeral }}GB</td>
                                <td>{{ fpublic }}</td>
                            {% endfor %}
                            </tr>
                            <tr>
                                <td colspan="7">
                                    请选择（顺序编号选择）:
                                    <input type="radio" onclick="checkflavors1()"/>
                                    <input type="radio" onclick="checkflavors2()"/>
                                    <input type="radio" onclick="checkflavors3()"/>
                                    <input type="radio" onclick="checkflavors4()"/>
                                    <input type="radio" onclick="checkflavors5()"/>
                                </td>
                            </tr>
                        </table> 
                    </div>
                        
                    <div id="content_4" class="init"> 
                        在云中，网络为实例提供通信渠道。<br/>
                        <br/>     
                        <table class="table-striped table-bordered" width="400px" border="1" cellspacing="0" cellpadding="8">
                            <tr bgcolor="#CCCCCC">
                                <td>网络</td>
                                <td>子网已关联</td>
                                <td>共享的</td>
                                <td>管理员状态/td>
                                <td>状态</td>
                            </tr>
                            <tr>
                                <td colspan="5" align="center" id="net">从以下列表选择一项</td>
                            </tr>
                        </table>
                        <br/>
                        <table class="table-striped table-bordered" width="400px" border="1" cellspacing="0" cellpadding="8">
                            <tr bgcolor="#CCCCCC">
                                <th><input type="radio"/></th>
                                <td>网络</td>
                                <td>子网已关联</td>
                                <td>共享的</td>
                                <td>管理员状态</td>
                                <td>状态</td>
                            </tr>
                            {%for net in networks%}
                            <tr>
                                <td><input type="radio" onclick="create_net()" /></td>
                                <td>{{ net.name }}</td>
                                {%for i in net.subnets%}
                                <td>{{slist|get_item:i}}</td>
                                {%endfor%}
                                <td>{{ net.shared }}</td>
                                <td>{{ net.admin_state_up }}</td>
                                <td>{{ net.status }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table> 
                    </div>
                    <div id="content_5" class="init">
                        端口为您的实例提供了额外的通信渠道。您可以选择端口而非网络或者二者都选。<br/>
                        <br/>
                        <table class="table-striped table-bordered" width="400px" border="1" cellspacing="0" cellpadding="8">
                            <tr bgcolor="#CCCCCC">
                                <td>&nbsp;</td>
                                <td>名称</td>
                                <td>ip</td>
                                <td>管理员状态</td>
                                <td>状态</td>
                            </tr>
                            <tr>
                                <td colspan="5" align="center">从以下可用项中选择一项</td>
                            </tr>
                        </table>
                        <br/>
                        <table class="table-striped table-bordered" width="400px" border="1" cellspacing="0" cellpadding="8">
                            <tr bgcolor="#CCCCCC">
                                <td>名称</td>
                                <td>ip</td>
                                <td>管理员状态</td>
                                <td>状态</td>
                            </tr>
                            <tr>
                                <td colspan="4" align="center">没有可用项目</td>
                            </tr>
                        </table>
                    </div>
                    <div id="content_6" class="init">
                        要在其中启动实例的安全组。<br/>
                        <br/>
                        <table width="400px" border="1" cellspacing="0" cellpadding="8">
                            <tr bgcolor="#CCCCCC">
                                <td>名称</td>
                                <td>描述</td>
                            </tr>
                            <tr>
                                <td>default</td>
                                <td>Default security group</td>
                                
                            </tr>
                        </table>
                        <br/>
                        <table width="400px" border="1" cellspacing="0" cellpadding="8">
                            <tr bgcolor="#CCCCCC">
                                <td>名称</td>
                                <td>描述</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">没有可用项目</td>
                                
                            </tr>
                        </table>
                    </div>
                    <div id="content_7" class="init">
                        密钥对允许您 SSH 到新创建的实例。 您可以选择一个已现有的密钥对、导入一个密钥对或生成一个新的密钥对。<br/>
                        <br/>
                        <table width="400px" border="1" cellspacing="0" cellpadding="8">
                            <tr bgcolor="#CCCCCC">
                                <td>名称</td>
                                <td>指纹</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">从以下可用的密钥对选择一个</td>
                                
                            </tr>
                        </table>
                        <br/>

                        <table width="400px" border="1" cellspacing="0" cellpadding="8">
                            <tr bgcolor="#CCCCCC">
                                <td>名称</td>
                                <td>指纹</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">没有可用项目</td>
                                
                            </tr>
                        </table>
                    </div>
                    
                    <div id="content_8" class="init">
                        使用此处可用的选项启动实例后，您就可以定制该实例。 “定制脚本”与其他系统中的“用户数据”类似。<br/>
                        <br/>
                        Customization Script&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Script size: 0 bytes of 16.00 KB
                        <textarea rows="6" cols="60"></textarea> <br/>
                        Load script from a file<br/>
                        <input type="button" value="选择文件">未选择任何文件</input></br>
                        <br/>
                        磁盘分区<br/>
                        <select class="">
                            <option id="1" value="1">自动</option>
                            <option id="2">手动</option>
                        </select><br/>
                        <input type="checkbox">Configuration Drive</input>
                    </div>
                    <div id="content_9" class="init">
                        此步骤允许您为实例添加元数据条目。<br/>
                        <br/>
                        You can specify resource metadata by moving items from the left column to the right column. In the left column there are metadata definitions from the Glance Metadata Catalog. Use the "Custom" option to add metadata with the key of your choice.<br/>

                    </div>
                </div> 
                <div class="btn">
                    <button><a href="javascript:closeLogin();">取消</a></button>
                </div>
                <div class="btn1">
                    <button>Back</button>
                    <button>下一页</button>
                    <!-- <button onclick="create_ins()">启动实例</button> -->
                    <input type="submit" value="启动实例"/>
                </div>
            </form>
        </div>
    </div>
   
    <div>
        {% include 'index.html'%}
    </div>
    <div class="dh-ver1">
        <h1 class="image_h1">实例</h1>
    </div>   
    <div class="banner2">
        <form action="" method="POST">
            <input type="hidden" name="token" value=""/>
            <table id="images" class="">
                <caption>

                    <div class="instance-top">
                        <select name="instance_field" class="instance-name">
                            <option value="name">实例名字=</option>
                            <option value="status">状态=</option>
                            <option value="image">映像标识=</option>
                            <option value="flavor">flavor 标识=</option>
                        </select>
                        <input class="instance-field" value="" type="text" name="instance_field_q"/>
                        <button type="submit" class="instance-field_action" id="image_action">过滤</button>
                    </div>
                    <a class="instance-create"  href="javascript:openLogin();" title="创建实例" >创建实例</a>

                    <button data-batch-action="true" class="instance-delete" name="action" help_text="已删除的一些不可恢复" type="submit" value="instances_delete">删除实例</button>
                    <div class="instance-more">
                        <select class="instance-more_select">
                            <option data-toggle="dropdown">More Actions</option>
                            <option value="instances__start" data-batch-action="true" id="instances__action_start">启动实例</option>
                            <option value="instances__stop" data-batch-action="true" id="instances__action_stop">关闭实例</option>
                            <option value="instances__soft_reboot" data-batch-action="true" id="instances__action_soft_reboot">软重启实例</option>
                        </select>
                    </div>
                </caption>
                <thead>
                    <tr class="tr2">
                        <th class="" data-selenium="multi_select">
                            <input type="checkbox" name="obj_id"/>
                        </th>
                        <th  data-selenium="name">
                            实例名称
                        </th>
                        <th data-selenium="image_name">
                            映像名称
                        </th>
                        <th data-selenium="ip" data-type="ip">
                            IP地址
                        </th>
                        <th data-selenium="size">
                            大小
                        </th>
                        <th  data-selenium="keypair">
                            密钥对
                        </th>
                        <th  data-selenium="status">
                            状态
                        </th>
                        <th class="pro_az" data-selenium="az">
                            可用域
                        </th>
                        <th data-selenium="task">
                            任务
                        </th>   
                        <th  data-selenium="state">
                            电源状态
                        </th>
                        <th data-selenium="created" data-type="timesince">
                            创建以来的时间
                        </th>
                        <th  data-selenium="actions">
                            Actions
                        </th> 
                    </tr>
                </thead>
                <tbody style="position: absolute;left: 20px;top: 140px;">
                {% for one in list %}
                    <tr class="tr1">
                        <td >
                            <input type="checkbox" name="obj_id"/>
                        </td>
                        <td >
                            {{one.name}}
                        </td>  
                        <td >
                            {{ilist|get_item:image.id}}
                        </td>
                        {% for i in one.addresses.provider %}
                        <td >
                            {{i.addr}}
                        </td>
                        {%endfor%}
                      {% for f in one.flavor.id %}
                        <td >       
                            {{flist|get_item:f}} 
                        </td>
                        {% endfor %} 
                        <td >
                            {{one.key_name}} 
                        </td>
                        
                        <td >
                            {{one.status}}
                        </td>
                        <td >
                            {{az}}
                        </td>
                        <td >
                            {{task}}
                        </td>
                        <td >
                            {{power|power}}
                        </td>
                        <td >
                            {{one.created|time_since}}
                        </td>    
                        <td >
                            <select class="action_select">
                                <option value="1">启动实例</option>
                                <option value="2">创建快照</option>
                                <option value="3">连接接口</option>
                                <option value="4">拆离接口</option>
                                <option value="5">编辑实例</option>
                                <option value="6">更新元数据</option>
                                <option value="7">调整实例大小</option>
                                <option value="8">锁定实例</option>
                                <option value="9">解锁实例</option>
                                <option value="10">软重启实例</option>
                                <option value="11">硬重启实例</option>
                                <option value="12">重建实例</option>
                                <option value="13">删除实例</option>
                            </select>
                        </td>
                {% endfor %}
                    </tr>
                </tbody>
            </table>           
        </form>
    </div>
                           
</body>
</html>