{% load mytag %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>网络</title>
    <link rel="stylesheet" href="{% static 'js/network.css' %}">
           
</head>
<body>
    <div>
        {% include 'index.html' %}
    </div>
    <div class="dh-ver1">
        <h1 class="network_h1">网络</h1>
    </div>   
    <div class="banner2">
        <form action="" method="POST">
            <input type="hidden" name="token" value=""/>
            <table id="network" class="">
                <caption>

                    <div class="network-top">
                        <input class="network-field" value="" type="text" name="network_field_q" placeholder="过滤"/>
                        <button type="submit" class="network-field_action" id="network_action">过滤</button>
                    </div>
                    
                    <a class="network-create" href="addnetwork.html" title="创建网络">创建网络</a>
                    <button data-batch-action="true" class="network-delete" name="action" help_text="已删除的一些不可恢复" type="submit" value="network_delete">删除网络</button>
                    
                </caption>
                <thead>
                    <tr class="tr2">
                        <th class="dh-vertical" data-selenium="multi_select">
                            <input type="checkbox" name="obj_id"/>
                        </th>
                        <th class="pro_tenant" data-selenium="tenant">
                            项目
                        </th>
                        <th class="pro_name" data-selenium="name">
                            网络名称
                        </th>
                        <th class="pro_subnets" data-selenium="subnets">
                            子网已连接
                        </th>
                        <th class="pro_agents" data-selenium="num_agents">
                            DHCP代理程序
                        </th>
                        <th class="pro_shared" data-selenium="shared">
                            共享
                        </th>
                        <th class="pro_external" data-selenium="external">
                            外部
                        </th>
                        <th class="pro_status" data-selenium="status">
                            状态
                        </th>
                        <th class="pro_state" data-selenium="admin_state" >
                            管理状态
                        </th>   
                        <th class="pro_action" data-selenium="action">
                            Actions
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    {%for one in list%}
                    <tr class="tr1">
                        <td class="dh-vertical">
                            <input type="checkbox" name="obj_id"/>
                        </td>
                        <td class="pro_tenant">
                        {{plist|get_item:one.tenant_id}}
                        </td>
                        <td class="pro_name">
                            {{one.name}}
                        </td>
                        {%for i in one.subnets%}
                        <td class="pro_subnets1">
                            {{slist|get_item:i}}
                            {{slist1|get_item:i}}
                        </td>
                        {%endfor%}
                        <td class="pro_agents1">
                            1 
                        </td>
                        <td class="pro_shared1">
                            {{one.shared}} 
                        </td>
                        <td class="pro_external">
                            {{external}}
                        </td>
                        <td class="pro_status1">
                            {{one.status}}
                        </td>
                        <td class="pro_state1">
                            {{one.admin_state_up}}
                        </td>
                        {% endfor %}
                        <td class="pro_action1">
                            <select>
                                <option value="1">编辑网络</option>
                                <option value="2">删除网络</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>           
        </form>
    </div>
                           
</body>
</html>